<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.daquexian.chaoli.forum"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
		android:name="com.daquexian.chaoli.forum.ChaoliApplication"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name="com.daquexian.chaoli.forum.view.MainActivity"
			android:screenOrientation="portrait"
			android:theme="@style/MainActivityTheme">
		</activity>
		<activity android:name="com.daquexian.chaoli.forum.view.SettingsActivity"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="com.daquexian.chaoli.forum.view.AnswerQuestionsActivity"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="com.daquexian.chaoli.forum.view.SignUpActivity"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="com.daquexian.chaoli.forum.view.LoginActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name="com.daquexian.chaoli.forum.view.PostActivity"
			android:theme="@style/PostActivityTheme"
			android:screenOrientation="portrait"/>
		<activity
			android:name="com.daquexian.chaoli.forum.view.ReplyAction"
			android:screenOrientation="portrait"/>
		<activity android:name="com.daquexian.chaoli.forum.view.HomepageActivity"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="com.daquexian.chaoli.forum.view.PostAction"
			android:screenOrientation="portrait"/>
		<activity android:name=".view.EntryPointActivity"
			android:launchMode="singleInstance"
			android:noHistory="true"
			android:theme="@style/AppTheme"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:scheme="https"
					android:host="chaoli.club"
					android:pathPattern="/.*"/>
				<data android:scheme="https"
					android:host="www.chaoli.club"
					android:pathPattern="/.*"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
	</application>

</manifest>
